#chat{
  height: 100vh;
  max-width: 100%;
  display: grid;
  grid-template-areas: 
 "f s s s s s s s s s"
 "f s s s s s s s s s"
 "f s s s s s s s s s"
 "f s s s s s s s s s"
 "f s s s s s s s s s"
 "f s s s s s s s s s"
 "f s s s s s s s s s"
 "f s s s s s s s s s"
 "f s s s s s s s s s"
 "f s s s s s s s s s"
 "f s s s s s s s s s"
 "f s s s s s s s s s"
 "f s s s s s s s s s"
 "f s s s s s s s s s"
 "f s s s s s s s s s"
 "f s s s s s s s s s"
 "f s s s s s s s s s"
 "f i i i i i i i i i";
}

#friends{
  grid-area: f;
  display: grid;
  align-items: center;
  background-color: purple;
  grid-template-rows: 0fr;
  
}



#input{
  grid-area: i;
  background-color: mintcream;
  display: grid;
  width: 100%;
  grid-template-columns: 10fr 0.5fr;

  align-content: center;
}
#friends > p{
  background-color: plum;
}

#friends > h3{

  background-color: plum;
}

#chatbox{
  grid-area: s;
  width: 90%;
  align-content: center;
  background-color: rgb(255, 255, 255, 0.671);
  display: grid;
  grid-row-gap:100px;
  grid-area: "text time";
}
.left{
  margin-left: 0%;
}
.text-container{
  width:30%;
  display: grid;
  background-color: rgb(217, 219, 177);
  justify-content: center;
  align-content: flex-start;
  border-radius: 10px;
 
  grid-template-areas:"text  time";
  
}

.text{
  grid-area: text;
  margin-right: 0%;
  margin:0px;
 
} 
.time{
  grid-area: time;

}
#send{
  padding-left: 5%;
  background-color: purple;
}

#right{
  background-color: rgb(51, 226, 60);
  margin-left: 80% ;
  
 }

